body {
    font-family: 'Nunito Sans', sans-serif;
}

.questions {
    margin: 20px;
    width: 30%;
    /* display: flex;  */
    background-color: #FFF0DD; 
    padding: 15px; 
    border-radius: 15px;
}

h4 {
    padding: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

nav {
   margin-right: 40px;
   width: 20%;
}

header {
    text-align: center;
    margin-right: 40px;
    margin-top: 20px;
}

a{
    background-color: #FFF0DD;
    padding: 10px;
    margin: 10px;
    color: #FF8F00;
}

main {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

input {
    margin: 15px;
}

button {
    justify-content: center;
    border: none;
    border-radius: 10px;
    margin-left: 13px;
    padding:10px;
    background-color: #FF8F00;
    opacity: 80%
}

button:hover {
    color: white;
    opacity: 100%;
}